body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
input {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  background: lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
  display: block;
  max-width: 100%;
}
.visually-hidden {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
main {
  flex-grow: 1;
}
button {
  font-family: inherit;
  color: currentColor;
}
@media (min-resolution: 192dpi) {
  .main-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

/*header*/
.container {
  margin: 0 auto;
  flex-shrink: 0;
  padding: 0 15px;
  max-width: 318px;
}
.menu-main,
.menu,
.address {
  display: none;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .menu-burger {
    display: none;
  }
  .menu-main {
    display: flex;
    gap: 40px;
  }
  .menu:hover,
  .menu:focus {
    color: #404bbf;
  }
  .menu {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
  }

  .menu.current::after,
  .menu:hover::after {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    content: "";
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    color: #404bbf;
  }
  .address-details:hover,
  .address-details:focus {
    color: #404bbf;
  }
  .address {
    font-style: normal;
    display: flex;
  }
  .address-details {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.navigation {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-main {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-grey {
  color: #2e2f42;
}

/*Mobile Menu*/
.menu-mobile {
  display: none;
  padding: 16px 24px 40px 16px;
  width: 320px;
  height: 100vh;
}
.menu-mobile.is-open {
  display: block;
}
.menu-mobile-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 168px;
}
.menu-mobile-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile-item.current,
.menu.current {
  color: #404bbf;
}
.menu-mobile-item:hover,
.menu-mobile-item:focus {
  color: #404bbf;
}
.address-list-mobile {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.address-mobile {
  font-style: normal;
  margin-bottom: 48px;
}
.address-details-mobile {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-details-mobile:hover,
.address-details-mobile:focus {
  color: #404bbf;
}
.social-media-mobile {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
/*section 1*/
.main-first {
  max-width: 320px;
  background-color: #2e2f42;
  padding: 72px 0;
  margin: 0 auto;
  flex-shrink: 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mbl.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-first-title {
  max-width: 288px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.button {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background: #404bbf;
}
.button:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .main-first {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }
  .main-first-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .main-first {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }
}

/*section2*/
.advantages-list {
  padding: 96px 0;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 72px;
  padding: 0 16px;
  margin: 0;
}
.icon-list {
  display: none;
}
.advantages-list-title,
.team-list-title {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.advantages-list-title {
  margin-bottom: 8px;
}
.team-text,
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .advantages-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantages-list-title,
  .team-list-title {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .advantages-list {
    padding: 120px 0;
  }
  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
    padding: 0 156px;
    align-items: flex-start;
    padding: 0;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .icon-list {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .icon {
    width: 64px;
    height: 64px;
  }
  .advantages-list-title,
  .team-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .team-text,
  .advantages-text {
    font-weight: 400;
  }
}

/*section3*/
.team {
  background-color: #f4f4fd;
}

.team-list-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-img {
  width: 264px;
  height: 260px;
}
.team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}
.icon-circle {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social {
  fill: #f4f4fd;
}

.social-media-team {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-title,
.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.team-descr {
  padding: 32px 0;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/*section 4*/
.portfolio {
  padding: 96px 0;
}
.portfolio-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: left;
  color: #2e2f42;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  left: 0;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  z-index: 2;
  overflow: hidden;
}
.portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
  z-index: 1;
  bottom: 0;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 48px;
}
.portfolio-item {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  width: 288px;
  height: 280px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-img {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-img {
    width: 360px;
  }
}
/*footer*/
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer-n-text {
  text-align: center;
}
.logo-grey-footer {
  color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  color: #f4f4fd;
  text-align: start;
  margin-bottom: 72px;
}
.footer-social {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}
.icon-footer {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}
.icon-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.form-footer {
  display: flex;
  flex-direction: column;
}
.form-footer-container {
  display: flex;
  flex-direction: column;
}
.btn-footer {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  height: 40px;
  cursor: pointer;
}
.btn-footer:hover,
.btn-footer:focus {
  background: #404bbf;
}

.label-footer {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.label {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input-footer {
  width: 288px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  text-align: start;
  margin-bottom: 16px;
}
.input-footer::placeholder {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .logo-footer-n-text {
    text-align: start;
    margin-right: 24px;
  }
  .footer-social {
    text-align: start;
  }
  .social-media-icons {
    justify-content: flex-start;
  }
  .container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
  }
  .form-footer {
    flex-direction: row;
    gap: 24px;
    align-items: flex-end;
  }

  .input-footer {
    margin: 0;
    width: 264px;
  }
  .label-footer {
    text-align: start;
  }
  .label {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .logo-footer-n-text {
    margin-right: 120px;
  }
  .social-media-footer {
    margin-right: 80px;
  }
  .container-footer {
    flex-wrap: nowrap;
    padding: 0;
  }
  .label {
    justify-content: flex-end;
  }
}

/*Modal*/
.backdrop {
  display: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-open {
  display: block;
}
.backdrop.is-open {
  display: block;
}
.close-btn {
  position: absolute;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 0;
}

.close-btn .close {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close,
.close-btn:focus .close {
  fill: #ffffff;
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 256px;
  margin-bottom: 16px;
}
.modal-form-element {
  margin-bottom: 8px;
}
.modal-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  flex-direction: column;
  margin-bottom: 4px;
  margin-top: 8px;
}
.modal-form-input-container {
  position: relative;
  width: 255px;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  align-self: flex-start;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus,
.input-modal:hover {
  border-color: #4d5ae5;
}
.input-modal:focus + .modal-svg,
.input-modal:hover + .modal-svg {
  fill: #4d5ae5;
}
.modal-form-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  font-weight: 400;
  flex-shrink: 0;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus,
.modal-textarea:hover {
  border-color: #4d5ae5;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.modal-checkbox input {
  margin-right: 8px;
}
.terms {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.link-privacy {
  color: #4d5ae5;
}
.modal-btn {
  display: block;

  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin: 0 auto;

  height: 56px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

input[type="checkbox"]:checked + .terms > .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .modal-title,
  .modal-form-input-container {
    width: 360px;
  }
}
